{% extends 'todo/base.html' %}

{% block content %}

    <div class="row mt-4">
        <div class="col">
            {% if not user.is_authenticated %}
            <h2>Please login to add your personal todos here!!!</h2>
            {% endif %}
            {% if user.is_authenticated %}
            <h2>Add Item</h2>
            <form action="add_todo/" class="form-inline", method="POST">
                <input type="text" name="content" class="form-control mb-2" placeholder="type here...">
               <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="list-group">
                {% for todo in todos %}
                    {% if todo.user == request.user.username %}
                    <form action="delete_todo/{{ todo.id }}/" method="POST">
                    <a href="#" class="list-group-item list-group-item-action">{{ todo.text }} <div class="float-right"> <button type="Submit" class="btn btn-primary btn-sm btn-danger">Delete</button></div></a>
                    </form>
                      <p>{{ post.text|linebreaksbr }}</p>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}